*{
    margin: 0;
    padding: 0;
}
.main{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: -2;
}
.right{
    width: 60%;
    height: 100vh;
    background-color: #fcc60c;
}
.left{
    width: 40%;
    height: 100vh;
    background-color: #fae7b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 40px;
    gap: 18px;
}

.logoimg {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.nav{
    margin: 0 30px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot{
    width: 8px;
    height: 8px;
    background-color: #fcc60c;
    border-radius: 50%;
    margin-right: -30px;
}
.dot1{
    background-color: black;
}

.content{
    margin: 100px 0px 0 70px;
}
.subheading{
    font-size: 22px;
    font-weight: 600;
}
.heading{
    font-size: 70px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.desc{
    font-size: 23px;
    width: 440px;
}