*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
height: 100vh;
width: 100%;
overflow-X: hidden;
/* background-image: url(image/image1.png); */

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 140px;
    height: 60px;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    gap: 12px;
    font-weight: 600;
    margin: 0 0 0 15px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img{
    width: 20px;
    height: 20px;
}
.search hr {
    width: 1px;
    height: 20px;
    background-color: #333;
    margin: 0 10px;
}
.bag p{
    font-size: 15px;
    color: green;
    border: 1px solid green;
    padding: 7px;
    border-radius: 50px;
    width: 200px;
}
.heading{
    font-size: 70px;
    font-weight: 600;
    color: #333;
    margin-bottom: -25PX;
}
.subheading{
    font-size: 16px;
    color: #555;
    width: 400PX;
    margin-top: -20px;
    margin-bottom: 8PX;
}
.cart{
    margin: 0 0 10PX 0;
}
.subitem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.subitem img{
    width: 30px;
    height: 30px;
    border: 1px solid  green;
    border-radius: 50%;
}

.center img{
width: 150%;
margin: -10% 0 0 -46%;
z-index: -1;
}

.rightsize{
    z-index: 1;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.rightsize img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.rightsub{
    display: flex;
    font-size: medium;
    gap: 12px;
}
.rightsub h3{
    font-size: 18px;
    color: black;
}
.rightsub p{
    font-size: 12px;
    color: gray;
}


.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px 0 40px 0; 
    margin: -90px 28px 0 28px;
    background-color: green;
    border-radius: 50px;
}

.bottomsub{
    width: 340px;
    height: 170px;  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: white;
    margin: 12px 0 0 -12px;
    border-radius: 40px;
}

.bottomsub img{
    width: 200px;
    height: 200px;
    margin-left: -90px;
}