body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
}



/* 
#000000  //black
#14213d  //dark blue
#fca311 //orange
#e5e5e5 //gray
#ffffff //white */