body {
    font-family: Arial, sans-serif;
    background-color: #162a53;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
}

.darkTheme{
    background-color: #14213d;
    color: #e5e5e5;
}

.lightTheme{
    background-color: #162a53;
    color: #000000;
}

